[core]
	autocrlf = input # ensure line endings in files you checkout are correct for macOS
	editor = vim
	excludesfile = /Users/<USER>/.gitignore_global
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[user]
	email = <EMAIL>
	name = <USERNAME>
